a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}
.foot
{
    height: 64px;
}

.btn:focus, .btn:active
 {
    outline: none !important;
    box-shadow: none;
    border:none;
    
}
.shop-button
{
    width:150px;height: 40px;
}
.shop-button:active,.small-shop-button:active
{
    background-color: black;color: white;
}

.gray-border,.gray-border:active,.gray-border:focus,.custom-select:focus, .custom-select:active {
    border: 1px slategrey gray;
    height: 50px;
    border-top:none;border-left: none;border-right: none;outline: none !important;
    box-shadow: none;
}

.mens-outwear, .ladies-outwear, .ladies-tshirts, .mens-tshirts {
    background-image: url("images/mens_outerwear.jpg");
    background-size: cover;
    height: 320px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.product {
    width: 50%
}

.ladies-outwear {
    background-image: url("images/ladies_outerwear.jpg");
}

.ladies-tshirts {
    background-image: url("images/ladies_tshirts.jpg");
}

.mens-tshirts {
    background-image: url("images/mens_tshirts.jpg");
}

.price {
    width: 400px;
}

.added-items, .check-out {
    height: 150px;
    width: 900px;
}

.check-out {
    height: 100px;
}

.items {
    height: 200px;
    width: 100%;
}

.added-item-pic {
    width: 80px;
    height: 80px;
    float: left;
}

.total-items {
    width: 80px;
    padding-left: 40px;
    border: none;
}

.position-absolute {
    top: 30%;left: 0;
}
.padding
{
    padding-left: 100px;
}
.address
{
    display: none;
}
.check:checked ~ .address
{
    display: contents;
}
.payment
{
    width:900px;
}

@media screen and (max-width:766px) {
    .product {
        width: 100%;
    }
    .price {
        clear: right;
        float: right;
        width: 223px;
    }
}


.bar
{
    width: 00%;height: 2px;
    left: 50%;
    background-color:black;
    transition: ease all 0.5s;
    position: absolute;bottom:0;
}
.gray-border:focus ~.bar,.gray-border:active ~.bar
{
    width:100%;left:0;
}
span{
    transition: ease all 0.5s;
}
.gray-border:focus ~span,.gray-border:active ~.span
{
    top:0;font-size: 12px;
}
